<div class="container">
  <div class="row">
    <h2 class="mb-3 h5 text-capitalize">Receipt Document</h2>
  </div>

  <div class="row overflow-x-auto">
      <table mat-table [dataSource]="visitAssignments" >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
            Date
          </th>
          <td mat-cell *matCellDef="let assignment"> {{assignment.date}} </td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Comment</th>
          <td class="text-capitalize" mat-cell
              *matCellDef="let assignment"> {{assignment.comment}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef >
            Assigned User
          </th>
          <td mat-cell *matCellDef="let assignment">
                  <span *ngIf="assignment.user" >
                    {{assignment.user.username}}
                  </span>
            <span *ngIf="!assignment.user" class="imp-mat-warn">
                    Not Assigned
                  </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="visitType">
          <th mat-header-cell *matHeaderCellDef>Visit Type</th>
          <td class="text-capitalize" mat-cell
              *matCellDef="let assignment"> {{assignment.visitType.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            Status
          </th>
          <td mat-cell *matCellDef="let assignment">
                  <span *ngIf="assignment.status.toLowerCase()==='not started'" class="ch-badge bg-yellow">
                    {{assignment.status}}
                  </span>
            <span *ngIf="assignment.status.toLowerCase()==='undergoing'" class="ch-badge bg-blue">
                    {{assignment.status}}
                  </span>
            <span *ngIf="assignment.status.toLowerCase()==='canceled' " class="ch-badge bg-red">
                    {{assignment.status}}
                  </span>
            <span *ngIf="assignment.status.toLowerCase()==='completed'" class="ch-badge bg-green">
                    {{assignment.status}}
                  </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let assignment">
            <button mat-icon-button color="primary"
                    (click)="openAssignmentDetails(assignment.id)">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


