<div class="mb-4">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="w-100 d-flex justify-content-between">
        <span class="me-3"><a [routerLink]="['/dashboard']" class="text-decoration-none h2">Visit Manager</a></span>
        <div class="d-flex gap-3">
          <a class="fs-6" mat-button [routerLink]="['/dashboard']">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
          <a class="fs-6" mat-button [routerLink]="['/users']">
            <mat-icon>person</mat-icon>
            Users
          </a>
          <a class="fs-6" mat-button [routerLink]="['/customers']">
            <mat-icon>business</mat-icon>
            Customers
          </a>
          <a class="fs-6" mat-button [routerLink]="['/definitions']">
            <mat-icon>route</mat-icon>
            Visits
          </a>
          <a class="fs-6" mat-button [routerLink]="['/reports']">
            <mat-icon>summarize</mat-icon>
            Reports
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

