<div class="mb-4">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="gap-1">
        <!--    <img class="me-3" src="../../../assets/bisan-logo.png" alt="Logo" width="60" height="30">-->
        <span class="me-3">Visit Manager</span>
        <a class="fs-6" mat-button [routerLink]="['/users']">Users</a>
        <a class="fs-6" mat-button [routerLink]="['/customers']">Customers</a>
        <a class="fs-6" mat-button [routerLink]="['/definitions']">Visits</a>
        <a class="fs-6" mat-button [routerLink]="['/reports']">Reports</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

