<div class="mb-4">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="w-100 d-flex justify-content-between">
        <span class="me-3"><a [routerLink]="['/dashboard']" class="text-decoration-none h2">Visit Manager</a></span>
        <div *ngIf="isAuthed" class="d-flex gap-3">
          <button mat-button [routerLink]="['/dashboard']">
            <mat-icon>dashboard</mat-icon>
            <span class="fs-6">Dashboard</span>
          </button>
          <button mat-button [routerLink]="['/users']">
            <mat-icon>person</mat-icon>
            <span class="fs-6">Users</span>
          </button>
          <button mat-button [routerLink]="['/customers']">
            <mat-icon>business</mat-icon>
            <span class="fs-6">Customers</span>
          </button>
          <button mat-button [routerLink]="['/definitions']">
            <mat-icon>route</mat-icon>
            <span class="fs-6">Visits</span>
          </button>
          <button mat-button [routerLink]="['/reports']">
            <mat-icon>summarize</mat-icon>
            <span class="fs-6">Reports</span>
          </button>
          <button mat-button [matMenuTriggerFor]="locationMenu" aria-label="Example icon-button with a menu">
              <mat-icon>place</mat-icon>
            Cities
          </button>
          <mat-menu #locationMenu="matMenu">
            <button mat-menu-item (click)="openCityDialog()">
              <mat-icon>add_location_alt</mat-icon>
              <span>Add City</span>
            </button>
            <button mat-menu-item (click)="openLocationsDialog()">
              <mat-icon>add_location_alt</mat-icon>
              <span>Add Location</span>
            </button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="documentMenu" aria-label="Example icon-button with a menu">
            <mat-icon>folder</mat-icon>
            Documents
          </button>
          <mat-menu #documentMenu="matMenu">
            <button mat-menu-item (click)="openPaymentPage()">
              <mat-icon>attach_money</mat-icon>
              <span>Payment Receipts</span>
            </button>
            <button mat-menu-item (click)="openQuestionPage()">
              <mat-icon>question_mark</mat-icon>
              <span>Question Templates</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

