<div class="container">
  <div class="row border-bottom mb-5">
    <div class="d-flex justify-content-between">
      <h1>Users</h1>
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        Add New User
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row border-bottom mb-3">
    <div class="col-8">
      <form>
        <mat-form-field [style.width.%]="100">
          <mat-label>What are you looking for?</mat-label>
          <input matInput matNativeControl placeholder="search for username, first name, or last name"
                 [(ngModel)]="searchInput"
                 [ngModelOptions]="{standalone: true}"
                 (input)="applyFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="col-4">
      <div class="d-flex gap-1 justify-content-between">
        <mat-form-field>
          <mat-label>Show Active Users</mat-label>
          <mat-select>
            <mat-option (click)="resetFilters()">
              <mat-icon>star</mat-icon>
              <span>All Users</span>
            </mat-option>
            <mat-option (click)="showEnabledUsers()">
              <mat-icon>toggle_on</mat-icon>
              <span>Active Users</span>
            </mat-option>
            <mat-option (click)="showDisabledUsers()">
              <mat-icon>toggle_off</mat-icon>
              <span>Inactive Users</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Access Level</mat-label>
          <mat-select>
            <mat-option (click)="resetFilters()">
              <mat-icon>star</mat-icon>
              <span>All Users</span>
            </mat-option>
            <mat-option (click)="showAdminUsers()">
              <mat-icon>supervised_user_circle</mat-icon>
              <span>Supervisors</span>
            </mat-option>
            <mat-option (click)="showEmployeeUsers()">
              <mat-icon>account_circle</mat-icon>
              <span>Employees</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="mat-elevation-z4">
      <mat-paginator [pageSizeOptions]="[5,10,20]"
                     #userTablePaginator
                     showFirstLastButtons
                     aria-label="Select page of users">
      </mat-paginator>

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">
            Username
          </th>
          <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first name">
            First Name
          </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last name">
            Last Name
          </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="accessLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by access level">
            Access Level
          </th>
          <td mat-cell *matCellDef="let user">
            {{user.accessLevel === 1 ? 'Supervisor' : 'Employee'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by activity">
            Actions
          </th>
          <td mat-cell *matCellDef="let user">
            <mat-slide-toggle
              (click)="updateUserStatus(user.username)"
              checked="{{user.enabled === 1 ? 'true' : 'false'}}"
            >
              {{user.enabled === 1 ? 'Active' : 'Inactive'}}
            </mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            (click)="console.log('clicked on ', row.username)"
            *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{searchInput}}"</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="mt-5 visually-hidden"></div>
<div class="container mt-5 visually-hidden">
  <h2>Users</h2>
  <hr class="mb-3">
  <div class="row ">
    <div class="row">
      <div class="col-4 h-100">
        <div class="w-100 mx-2 p-1">
          <div *ngIf="isEditMode && selectedUser">
            <div class="card p-3">
              <h3 class="mb=2 card-title">Edit User</h3>
              <div class="card-body">
                <form class="form-group" [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">

                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input
                      type="text" formControlName="firstName" class="form-control">
                    <div *ngIf="editForm.controls['firstName']?.invalid && editForm.controls['firstName'].touched"
                         class="text-danger">
                      <div *ngIf="editForm.controls['firstName'].hasError('required')">First Name
                        is required.
                      </div>
                      <div *ngIf="editForm.controls['firstName'].hasError('invalidName')">Invalid
                        name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>

                  </div>

                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input
                      type="text" formControlName="lastName" class="form-control">
                    <div *ngIf="editForm.controls['lastName']?.invalid && editForm.controls['lastName'].touched"
                         class="text-danger">
                      <div *ngIf="editForm.controls['lastName'].hasError('required')">First Name
                        is required.
                      </div>
                      <div *ngIf="editForm.controls['lastName'].hasError('invalidName')">Invalid
                        name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>


                  </div>


                  <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" formControlName="accessLevel"
                           [checked]="editForm.get('accessLevel')?.value">
                    <label class="form-check-label">Is Admin?</label>

                  </div>

                  <div class="mb-3">
                    <button [disabled]="!editForm.valid" class="btn btn-large btn-primary me-1"
                            type="submit">
                      Save Changes
                    </button>
                    <button class="btn btn-large btn-secondary ms-1" (click)="cancelEdit()">Cancel
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
