<div class="container mt-2">
  <div class="row border-bottom mb-3">
    <h1>Users</h1>
  </div>

  <div class="row mb-3 g-2">
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <button mat-raised-button color="primary">
            Add New User
          </button>
        </div>
      </div>
    </div>
    <div class="col-4 g-3">
      <button mat-raised-button [matMenuTriggerFor]="enabledMenu" aria-label="Filter Users by active">
        Show Enabled
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #enabledMenu="matMenu">
        <button mat-menu-item (click)="fetchUserData()">
          <mat-icon>star</mat-icon>
          <span>All Users</span>
        </button>
        <button mat-menu-item (click)="showEnables()">
          <mat-icon>toggle_on</mat-icon>
          <span>Active Users</span>
        </button>
        <button mat-menu-item (click)="showDisables()">
          <mat-icon>toggle_off</mat-icon>
          <span>Inactive Users</span>
        </button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="accessLevelMenu" aria-label="Filter Users by Access Level">
        Access Level
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #accessLevelMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>star</mat-icon>
          <span>All Users</span>
        </button>
        <button mat-menu-item>
          <mat-icon>toggle_on</mat-icon>
          <span>Active Users</span>
        </button>
        <button mat-menu-item>
          <mat-icon>toggle_off</mat-icon>
          <span>Inactive Users</span>
        </button>
      </mat-menu>

    </div>
    `
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
  </div>

  <div class="row mb-3">

  </div>
</div>


<div class="container mt-1">
  <h2>Users</h2>
  <hr class="mb-3">
  <div class="row ">
    <div class="row border-bottom my-3 py-3">
      <div class="col-12">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <ngb-pagination
            [collectionSize]="userData.length"
            [(page)]="page"
            aria-label="Default pagination">
          </ngb-pagination>

          <div class="btn-group mb-3">
            <div class="dropdown btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Enabled
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item" (click)="fetchUserData()">All</li>
                <li class="dropdown-item" (click)="showEnables()">Show active users</li>
                <li class="dropdown-item" (click)="showDisables()">Show inactive users</li>

              </ul>
            </div>

            <div class="dropdown btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Access Level
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item" (click)="fetchUserData()">All</li>
                <li class="dropdown-item" (click)="showAdmin()">Show Admins</li>
                <li class="dropdown-item" (click)="showEmployee()">Show Employees</li>
              </ul>
            </div>
          </div>

          <form class="d-flex mb-3" role="search">
            <input type="search"
                   class="form-control me-2"
                   placeholder="Search..."
                   aria-label="Search"
                   [(ngModel)]="searchInput"
                   [ngModelOptions]="{ standalone: true }"
                   (input)="applySearchFilter()">

            <div>
              <div class="spinner-border {{this.isSearchLoading ? '' : 'text-dark'}}" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="h-100">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th class="w-25">Username</th>
                <th>Full Name</th>
                <th>Access Level</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of userData | slice: (page-1) * pageSize  :page * pageSize">
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.accessLevel === 1 ? 'Admin' : 'Employee' }}</td>
                <td>
                  <div class="btn-group w-100">

                    <button type="button"
                            class="btn btn-outline-primary"
                            (click)="updateEnabled(user.username)">
                      {{ user.enabled === 1 ? 'Enabled' : 'Disabled' }}
                    </button>

                    <button type="button"
                            class="btn btn-outline-primary"
                            (click)="onEditUser(user)">
                      Edit
                    </button>

                  </div>

                  <div class="row gap-3">


                  </div>

                </td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>

      </div>

      <div class="col-4 h-100">
        <div class="w-100 mx-2 p-1">
          <div *ngIf="!isEditMode">
            <div class="card p-3">
              <h3 class="mb=2 card-title">Add New User</h3>
              <div class="card-body">
                <form class="form-group" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input
                      type="text" formControlName="firstName" class="form-control">
                    <div
                      *ngIf="registrationForm.controls['firstName']?.invalid && registrationForm.controls['firstName'].touched"
                      class="text-danger">
                      <div *ngIf="registrationForm.controls['firstName'].hasError('required')">First Name is required.
                      </div>
                      <div *ngIf="registrationForm.controls['firstName'].hasError('invalidName')">Invalid name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>

                  </div>

                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input
                      type="text" formControlName="lastName" class="form-control">
                    <div
                      *ngIf="registrationForm.controls['lastName']?.invalid && registrationForm.controls['lastName'].touched"
                      class="text-danger">
                      <div *ngIf="registrationForm.controls['lastName'].hasError('required')">Last Name is required.
                      </div>
                      <div *ngIf="registrationForm.controls['lastName'].hasError('invalidName')">Invalid name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>

                  </div>


                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input

                      formControlName="username"
                      type="text"
                      class="form-control">
                    <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched"
                         class="text-danger">
                      <div *ngIf="registrationForm.get('username')?.hasError('required')">Username is required.</div>
                    </div>

                  </div>

                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input
                      type="password" formControlName="password" class="form-control">
                    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"
                         class="text-danger">
                      <div *ngIf="registrationForm.get('password')?.hasError('required')">Password is required.</div>
                    </div>

                  </div>

                  <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input [class.is-invalid]="registrationForm.errors?.['misMatch']" type="password"
                           formControlName="confirmPassword" class="form-control">
                    <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']">Passwords do not
                      match</small>
                  </div>


                  <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" formControlName="accessLevel">
                    <label class="form-check-label">Is Admin?</label>

                  </div>

                  <div class="mb-3">
                    <button [disabled]='!registrationForm.valid' class="btn btn-large btn-primary" type="submit">
                      Register
                    </button>

                  </div>

                </form>

              </div>

            </div>
            <!--                         {{registrationForm.value | json}}-->
          </div>

          <div *ngIf="isEditMode && selectedUser">
            <div class="card p-3">
              <h3 class="mb=2 card-title">Edit User</h3>
              <div class="card-body">
                <form class="form-group" [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">

                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input
                      type="text" formControlName="firstName" class="form-control">
                    <div *ngIf="editForm.controls['firstName']?.invalid && editForm.controls['firstName'].touched"
                         class="text-danger">
                      <div *ngIf="editForm.controls['firstName'].hasError('required')">First Name is required.</div>
                      <div *ngIf="editForm.controls['firstName'].hasError('invalidName')">Invalid name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>

                  </div>

                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input
                      type="text" formControlName="lastName" class="form-control">
                    <div *ngIf="editForm.controls['lastName']?.invalid && editForm.controls['lastName'].touched"
                         class="text-danger">
                      <div *ngIf="editForm.controls['lastName'].hasError('required')">First Name is required.</div>
                      <div *ngIf="editForm.controls['lastName'].hasError('invalidName')">Invalid name it must
                        contain(A-Z,a-z).
                      </div>
                    </div>


                  </div>


                  <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" formControlName="accessLevel"
                           [checked]="editForm.get('accessLevel')?.value">
                    <label class="form-check-label">Is Admin?</label>

                  </div>

                  <div class="mb-3">
                    <button [disabled]="!editForm.valid" class="btn btn-large btn-primary me-1" type="submit">
                      Save Changes
                    </button>
                    <button class="btn btn-large btn-secondary ms-1" (click)="cancelEdit()">Cancel</button>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
