<h1 mat-dialog-title>
  {{editMode ? 'Editing "' + selectedCustomer.name + '"' : 'Add new Customer'}}
</h1>
<form [formGroup]="customerForm">
  <mat-dialog-content>
    <div class="row mb-1">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="customerForm.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-1">
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>City</mat-label>
          <mat-select formControlName="cityId" required>
            <mat-option *ngFor="let city of cities"
                        [value]="city.id"
                        (click)="changeSelectedCity(city)"
            >
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Location</mat-label>
          <mat-select formControlName="locationId" required>
            <div *ngIf="selectedCity !== null">
              <mat-option *ngFor="let location of selectedCityLocations"
                          [value]="location.id"
                          (click)="changeSelectedLocation(location)"
              >
                {{location.address}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-1">
      <div *ngIf="apiLoaded">
        <google-map
          height="250px"
          width="100%"
          [center]="initialCenter"
          [zoom]="initialZoom"
          (mapClick)="moveMarker($event)"
          (mapMousemove)="move($event)"
        >
          <map-marker
            [position]="markerPosition"
            [options]="markerOptions">
          </map-marker>

        </google-map>
      </div>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onSubmitCustomer()" color="primary" [disabled]="isSaving">
        {{isSaving ? 'Saving' : 'Save'}}
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</form>





