<h1>Add new City</h1>

<form [formGroup]="addForm">
  <mat-dialog-content>
    <div class="row mb-1">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required>
        <!--            <mat-error *ngIf="definitionForm.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>-->
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="saveNewCity()">Add</button>
  </mat-dialog-content>
</form>

