<h1 mat-dialog-title>
  {{editMode ? 'Editing "' + selectedCustomer.name + '"' : 'Add new Customer'}}
</h1>
<form [formGroup]="registrationForm">
  <mat-dialog-content>
    <div class="row mb-1">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="registrationForm.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div formGroupName="address">
      <div class="row mb-1">
        <mat-checkbox formControlName="precise" (click)="togglePreciseLocation()"> Precise Location?</mat-checkbox>
      </div>
      <div class="row mb-1">
        <div class="col-6">
          <mat-form-field [style.width.%]="100">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="addressLine1" required>
            <mat-error
              *ngIf="registrationForm.get('address.addressLine1')?.invalid">{{getAddressErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field [style.width.%]="100">
            <mat-label>Address 2</mat-label>
            <input matInput type="text" formControlName="addressLine2">
            <mat-error
              *ngIf="registrationForm.controls['address.addressLine2']?.invalid">{{getAddress2ErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-6">
          <mat-form-field [style.width.%]="100">
            <mat-label>City</mat-label>
            <mat-select formControlName="cityId" required>
              <mat-option *ngFor="let city of cityData" [value]="city.id">{{ city.name }}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field [style.width.%]="100">
            <mat-label>Zip Code</mat-label>
            <input matInput type="text" formControlName="zipcode" required>

            <mat-error *ngIf="registrationForm.get('address.zipcode')?.invalid">{{getZipCodeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>


        <div *ngIf="preciseLocationCheck">
          <div class="row mb-3">
            <div class="col-6">
              <mat-form-field [style.width.%]="100">
                <mat-label>Latitude</mat-label>
                <input matInput type="number" formControlName="latitude" min="-90" max="90">
                <mat-error *ngIf="latitudeControl?.hasError('min') || latitudeControl?.hasError('max')">
                  Latitude must be between -90 and 90 degrees.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field [style.width.%]="100">
                <mat-label>Longitude</mat-label>
                <input matInput type="number" formControlName="longitude" min="-180" max="180">
                <mat-error *ngIf="longitudeControl?.hasError('min') || longitudeControl?.hasError('max')">
                  Longitude must be between -180 and 180 degrees.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-dialog-actions>
      <button mat-raised-button (click)="onSubmitCustomer()" color="primary">Save</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</form>





