<h1 mat-dialog-title>Editing {{selectedCustomer.name}}</h1>
<form [formGroup]="editForm">
  <mat-dialog-content>
    <div class="row mb-1">
        <mat-form-field [style.width.%]="100">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required>
          <mat-error *ngIf="editForm.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
      <div formGroupName="address">
        <div class="row mb-1">
           <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="addressLine1" required>
          <mat-error *ngIf="editForm.controls['addressLine1'].invalid">{{getAddressErrorMessage()}}</mat-error>
        </mat-form-field>
          </div>
          <div class="col-6">
          <mat-form-field [style.width.%]="100">
            <mat-label>Address 2</mat-label>
            <input matInput type="text"   formControlName="addressLine2">
            <mat-error *ngIf="editForm.controls['addressLine2'].invalid">{{getAddress2ErrorMessage()}}</mat-error>
          </mat-form-field>
           </div>
        </div>

        <div class="row mb-1">
          <div class="col-6">
            <mat-form-field>
              <mat-label>City</mat-label>
              <mat-select formControlName="city" (selectionChange)="showCity($event)">
                <mat-option *ngFor="let city of cityData" [value]="city.id">{{ city.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.width.%]="100">
              <mat-label>Zip Code</mat-label>
              <input matInput type="text"   formControlName="zipcode">
              <mat-error *ngIf="editForm.controls['zipcode'].invalid">{{getZipCodeErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

    </div>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onUpdateCustomer()" color="primary">Save</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</form>



<!--<div class="container mt-1">-->
<!--  <h2>Edit Customer</h2>-->
<!--  <hr class="mb-3">-->
<!--  <div class="row">-->
<!--    <div class="card p-3">-->
<!--      <form class="row g-3 mb-5" [formGroup]="editForm" (ngSubmit)="onUpdateCustomer()">-->
<!--        &lt;!&ndash;      <h3>Add Customer</h3>&ndash;&gt;-->
<!--        <div class="col-md-6">-->
<!--          <label class="form-label">Name</label>-->
<!--          <input type="text" class="form-control" formControlName="name">-->
<!--          <div *ngIf="editForm.controls['name']?.invalid && editForm.controls['name'].touched"-->
<!--               class="text-danger">-->
<!--            <div *ngIf="editForm.controls['name'].hasError('required')">Name is required.</div>-->
<!--            <div *ngIf="editForm.controls['name'].hasError('invalidName')">Invalid name it must contain(A-Z,a-z).</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div formGroupName="address">-->
<!--          <div class="col-12">-->
<!--            <label class="form-label">Address</label>-->
<!--            <input type="text" class="form-control" placeholder="1234 Main St" formControlName="addressLine1">-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <label class="form-label">Address 2</label>-->
<!--            <input type="text" class="form-control" placeholder="Apartment, studio, or floor"-->
<!--                   formControlName="addressLine2">-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <label class="form-label">City</label>-->
<!--            <input type="text" class="form-control" formControlName="city">-->
<!--            <div-->
<!--              *ngIf="editForm.get('address.city')?.invalid && editForm.get('address.city')?.touched"-->
<!--              class="text-danger">-->
<!--              <div *ngIf="editForm.get('address.city')?.hasError('required')">City is required.</div>-->
<!--              <div *ngIf="editForm.get('address.city')?.hasError('invalidName')">Invalid City name it must contain(A-Z,a-z).</div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-2">-->
<!--            <label class="form-label">Zip</label>-->
<!--            <input type="text" class="form-control" formControlName="zipcode" maxlength="5">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-12">-->
<!--          <button [disabled]='!editForm.valid' class="btn btn-large btn-primary" type="submit">-->
<!--            Edit-->
<!--          </button>-->
<!--        </div>-->


<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
