<h1 mat-dialog-title>
  {{editMode ? 'Editing "' + selectedContact.firstName + " " + selectedContact.lastName + '"' : 'Add new Contact'}}
</h1>
<form [formGroup]="contactForm">
  <mat-dialog-content>

    <div class="row mb-1">
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" required>
          <mat-error
            *ngIf="contactForm.controls['firstName'].invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" required>
          <mat-error
            *ngIf="contactForm.controls['lastName'].invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber">
          <mat-error
            *ngIf="contactForm.controls['phoneNumber']?.invalid">{{getPhoneErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
          <mat-error
            *ngIf="contactForm.controls['email']?.invalid">{{ getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row mb-1">
      <mat-label>Visit Type</mat-label>
      <mat-chip-listbox formControlName="visitTypes" multiple>
        <mat-chip-option
          *ngFor="let type of typesData"
          [value]="type.id">
          {{ type.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onSubmitContact()" color="primary">Save</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</form>








