<div class="container mt-1">
  <h2>Add new Customer</h2>
  <hr class="mb-3">
  <div class="row justify-content-center">
    <div class="col-8 card py-3">
      <form class="row g-3" [formGroup]="registrationForm" (ngSubmit)="onSubmitCustomer()">
        <h3 class="mt-3">Customer Information</h3>
        <div class="col-6">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="registrationForm.controls['name']?.invalid && registrationForm.controls['name'].touched"
               class="text-danger">
            <div *ngIf="registrationForm.controls['name'].hasError('required')">Name is required.</div>
            <div *ngIf="registrationForm.controls['name'].hasError('invalidName')">Invalid name.</div>
          </div>
        </div>
        <hr>
        <h4>Customer Address</h4>
        <div formGroupName="address">
          <div class="row mb-3">
            <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck"
                       formControlName="precise" (change)="togglePreciseLocation()">
                <label class="form-check-label" for="autoSizingCheck">
                  Precise Location?
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="1234 Main St"
                     formControlName="addressLine1">
            </div>
            <div class="col-6">
              <label class="form-label">Address 2</label>
              <input type="text" class="form-control" placeholder="Apartment, studio, or floor"
                     formControlName="addressLine2">
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">City</label>
                <input type="text" class="form-control" placeholder="Ramallah"
                       formControlName="city">
                <div
                  *ngIf="registrationForm.get('address.city')?.invalid && registrationForm.get('address.city')?.touched"
                  class="text-danger">
                  <div *ngIf="registrationForm.get('address.city')?.hasError('required')">City is required.</div>
                  <div *ngIf="registrationForm.get('address.city')?.hasError('invalidName')">Invalid City name.</div>
                </div>
              </div>

              <div class="col-4">
                <label class="form-label">Zip</label>
                <input type="text" class="form-control" placeholder="1234"
                       formControlName="zipcode" maxlength="5">
              </div>
            </div>
          </div>
          <div *ngIf="preciseLocationCheck">
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">Latitude</label>
                <input type="number" class="form-control"
                       formControlName="latitude" min="-90" max="90">
                <div class="text-danger" *ngIf="latitudeControl?.hasError('min') || latitudeControl?.hasError('max')">
                  Latitude must be between -90 and 90 degrees.
                </div>
              </div>
              <div class="col-6">
                <label class="form-label">Longitude</label>
                <input type="number" class="form-control"
                       formControlName="longitude" min="-180" max="180">
                <div class="text-danger" *ngIf="longitudeControl?.hasError('min') || longitudeControl?.hasError('max')">
                  Longitude must be between -180 and 180 degrees.
                </div>
              </div>
            </div>
          </div>

          <button [disabled]='!registrationForm.valid' class="btn btn-large btn-primary" type="submit">
            Save New Customer
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

