html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--mat-option-hover-state-layer-color);
}

.imp-mat-primary {
  color: #3f51b5 !important
}

.imp-mat-accent {
  color: #ff4081 !important
}

.imp-mat-warn {
  color: #f44336 !important
}


