<div class="container">
  <div class="row border-bottom mb-5">
    <div class="d-flex justify-content-between">
      <h1>Customers</h1>
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        Add New Customer
      </button>

    </div>
  </div>
  <div class="row border-bottom mb-3">
    <div class="col-8">
      <form>
        <mat-form-field [style.width.%]="100">
          <mat-label>What are you looking for?</mat-label>
          <input matInput matNativeControl placeholder="search for name, city, or address"
                 [(ngModel)]="searchInput"
                 [ngModelOptions]="{standalone: true}"
                 (input)="applySearchFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="col-4">
      <div class="d-flex gap-1 justify-content-between">
        <mat-form-field [style.width.%]="60">
          <mat-label>Show Active Customers</mat-label>
          <mat-select [(value)]="selectedEnabledOption">
            <mat-option (click)="fetchCustomerData()">
              <mat-icon>star</mat-icon>
              <span>All Customers</span>
            </mat-option>
            <mat-option (click)="showEnabledCustomers()">
              <mat-icon>toggle_on</mat-icon>
              <span>Active Customers</span>
            </mat-option>
            <mat-option (click)="showDisabledCustomers()">
              <mat-icon>toggle_off</mat-icon>
              <span>Inactive Customer</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="mat-elevation-z4">
      <mat-paginator [pageSizeOptions]="[5,10,20]" #customerTablePaginator showFirstLastButtons aria-label="Select page of Customers">
      </mat-paginator>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
          </th>
          <td mat-cell *matCellDef="let customer">{{customer.name}}</td>
        </ng-container>
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by city">
            City
          </th>
          <td mat-cell *matCellDef="let customer">{{customer.address.city}}</td>
        </ng-container>

        <ng-container matColumnDef="addressLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by address">
            Address
          </th>
          <td mat-cell
              *matCellDef="let customer">{{customer.address.addressLine1}} {{customer.address.addressLine2}}</td>
        </ng-container>

        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by activity">
            Actions
          </th>
          <td mat-cell *matCellDef="let customer">
            <mat-slide-toggle (click)="updateEnabled(customer.id)"
                              checked="{{customer.enabled===1 ?'true':'false'}}">
              {{customer.enabled === 1 ? 'Active' : 'Inactive'}}
            </mat-slide-toggle>
            <button mat-icon-button color="primary"></button>
            <button mat-icon-button color="primary"
                    (click)="openEditDialog(customer)"><mat-icon>edit</mat-icon></button>

            <button mat-icon-button color="primary"
                    (click)="openCustomerDetailDialog(customer.id)">
              <mat-icon>perm_identity</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="console.log('clicked on',row.name)"
            *matRowDef="let row; columns:displayedColumns;"></tr>

      </table>

    </div>
  </div>

</div>



