<div *ngIf="!definition" class="container">
  <div class="spinner-border mx-auto my-auto">

  </div>
</div>
<div *ngIf="definition" class="container text-capitalize">
  <div class="row mb-1 py-1 border-bottom">
    <div class="d-flex justify-content-between">
      <div>
        <h1>{{definition.name}}</h1>
        <mat-chip-set>
          <mat-chip>{{definition.type.name}}</mat-chip>
        </mat-chip-set>
      </div>
      <button mat-raised-button color="primary" (click)="openCreateAssignmentDialog()">
        Add Assignment
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mb-1 py-1 border-bottom">
    <div class="d-flex-justify-content-between">
      <div>
        <h3>{{definition.description}}</h3>
      </div>
      <div>
        <div>
          Created On:
          <span class="primary-color text-decoration-underline">
            {{formatDateString(definition.createdTime)}}
          </span>
        </div>
        <div>
          Last Modified On:
          <span class="primary-color text-decoration-underline">
            {{formatDateString(definition.lastModifiedTime)}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom mb-3">
    <div class="">
    </div>
  </div>
</div>


<div class="container mt-5">
  <h2>Details</h2>
  <hr class="mb-3">
  <div class="row ">
    <div class="row border-bottom my-3 py-3">
      <div class="col-12">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

          <div class="btn-group mb-3">
            <div class="dropdown btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Filtering
              </button>

            </div>

            <div class="dropdown btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Sort by Date
              </button>

            </div>
          </div>

          <!--          <form class="d-flex mb-3" role="search">-->
          <!--            <input type="search"-->
          <!--                   class="form-control me-2"-->
          <!--                   placeholder="Search..."-->
          <!--                   aria-label="Search"-->
          <!--                   [(ngModel)]="searchInput"-->
          <!--                   [ngModelOptions]="{ standalone: true }"-->
          <!--                   (input)="applySearchFilter()">-->

          <!--            <div>-->
          <!--              <div class="spinner-border {{this.isSearchLoading ? '' : 'text-dark'}}" role="status">-->
          <!--                <span class="visually-hidden">Loading...</span>-->
          <!--              </div>-->
          <!--            </div>-->

          <!--          </form>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="card p-3">
          <div *ngIf="definition">
            <h3>Name: {{ definition.name }}</h3>
            <p>Description: {{ definition.description }}</p>
            <p>VisitType Name: {{ definition.type.name }}</p>
            <p>Frequency: {{ definition.frequency}}</p>
            <h2>VisitAssignment</h2>
            <div class="col-10">
              <div class="h-100">

                <table mat-table [dataSource]="assignments" class="mat-elevation-z8">
                  <!--                  matSort (matSortChange)="announceSortChange($event)-->
                  <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef> Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.date }} </td>
                  </ng-container>
                  <!--                  mat-sort-header-->
                  <ng-container matColumnDef="Comment">
                    <th mat-header-cell *matHeaderCellDef> Comment</th>
                    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element">
                      <button type="button" class="btn btn-outline-primary w-100"
                              (click)="openAssignmentsDetails(element.id)">Details
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-8">
        <div class="mx-2 p-1">
          <div *ngIf="!isEditMode">
            <div class="card p-3">
              <h3 class="mb=2 card-title">Add New Assignment</h3>
              <div class="card-body">
                <form class="form-group" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field>
                        <mat-label>Comment</mat-label>
                        <textarea matInput formControlName="comment"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3">
                      <button [disabled]='!registrationForm.valid' class="btn btn-large btn-primary" type="submit">
                        Register
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--                         {{registrationForm.value | json}}-->
          </div>

          <!--        <div *ngIf="isEditMode && selectedUser">-->
          <!--          <div class="card p-3">-->
          <!--            <h3 class="mb=2 card-title">Edit User</h3>-->
          <!--            <div class="card-body">-->
          <!--              <form class="form-group" [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">-->

          <!--                <div class="mb-3">-->
          <!--                  <label class="form-label">First Name</label>-->
          <!--                  <input-->
          <!--                    type="text" formControlName="firstName" class="form-control">-->

          <!--                </div>-->

          <!--                <div class="mb-3">-->
          <!--                  <label class="form-label">Last Name</label>-->
          <!--                  <input-->
          <!--                    type="text" formControlName="lastName" class="form-control">-->
          <!--                </div>-->


          <!--                <div class="mb-3 form-check">-->
          <!--                  <input class="form-check-input" type="checkbox" formControlName="accessLevel"-->
          <!--                         [checked]="editForm.get('accessLevel')?.value">-->
          <!--                  <label class="form-check-label">Is Admin?</label>-->

          <!--                </div>-->

          <!--                <div class="mb-3">-->
          <!--                  <button [disabled]="!editForm.valid" class="btn btn-large btn-primary me-1" type="submit">-->
          <!--                    Save Changes-->
          <!--                  </button>-->
          <!--                  <button class="btn btn-large btn-secondary ms-1" (click)="cancelEdit()">Cancel</button>-->
          <!--                </div>-->

          <!--              </form>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--        </div>-->

        </div>

      </div>

    </div>
  </div>
</div>
