<h1 mat-dialog-title>Create New Assignment</h1>
<form [formGroup]="assignmentForm">
  <mat-dialog-content>
    <div class="row mb-1">
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field [style.width.%]="100">
          <mat-label>User Assignee</mat-label>
          <input #userInput
                 type="text"
                 matInput
                 formControlName="username"
                 [formControl]="userSelectControl"
                 [matAutocomplete]="autoUser"
                 (input)="filterUsers()"
                 (focus)="filterUsers()"
          >
          <mat-autocomplete #autoUser="matAutocomplete" (optionSelected)="selectUser($event)">
            <mat-option *ngFor="let option of filteredUsers" [value]="option.username">
              {{option.username}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-1">
      <mat-form-field style="max-height: 200px" [style.width.%]="100">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button (click)="submitForm()" color="primary" [disabled]="isSaving">
        {{isSaving ? 'Saving...' : 'Save'}}
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>

</form>
