<div class="container mt-1">
  <h2>Customers</h2>
  <hr class="mb-3">
  <div class="row ">
<!--    <div class="d-grid gap-2 d-md-block">-->
<div class="row p-3 border-bottom mb-3">
<div class="col-4">
      <ngb-pagination
        [collectionSize]="customerData.length"
        [(page)]="page"
        aria-label="Default pagination">
      </ngb-pagination>

      <button class="btn btn-primary" (click)="openAddCustomer()">Add New Customer</button>
</div>
  <div class="col-8">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <div class="dropdown btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Enabled
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="fetchCustomerData()">All</li>
            <li class="dropdown-item" (click)="showEnables()">Show active users</li>
            <li class="dropdown-item" (click)="showDisables()">Show inactive users</li>

          </ul>
        </div>


      </div>
      <form role="search">
        <div class="input-group">
          <select class="form-control" #customer (change)="onSelected(customer.value)">

            <option>Select customer by:</option>
            <option>Name</option>
            <option>Address</option>
            <option>City</option>
          </select>

          <input type="search"
                 class="form-control"
                 placeholder="Search..."
                 aria-label="Search"
                 [(ngModel)]="searchInput"
                 [ngModelOptions]="{ standalone: true }"
                 (input)="applySearchFilter()">
        </div>
      </form>
    </div>
  </div>
</div>



  <div class="col-14">
    <div class="h-100">
<!--    <div class="card p-3">-->
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th class="w-65">Name</th>
            <th>Enabled</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerData  | slice: (page-1) * pageSize  :page * pageSize">
            <td>{{ customer.name }}</td>

            <td>
              <button class="btn btn-warning col-3"
                      (click)="updateEnabled(customer.uuid)">  {{ customer.enabled === 1 ? 'Enabled' : 'Disabled' }}</button>
            </td>
            <td>
              <div class="row gap-3">

              <button type="button" class="col-3 btn btn-info"
                      (click)="openCustomerDetails(customer.uuid)">Details
              </button>


              <button type="button" class=" col-3 btn btn-info" (click)="openEditCustomer(customer.uuid)">Edit</button>
              </div>
            </td>

          </tr>
          </tbody>
        </table>

      </div>

    </div>


  </div>

</div>

